@import url('font.css');

/* Hide the navbar */
.navbar-hidden {
    top: -100px !important;  /* Adjust this value based on the navbar height */
}

/* Align nav items and style */
.navbar-nav .nav-item {
    margin-right: 15px; /* Add spacing between nav items */
}
.navbar-background{
    background-color: rgb(10, 25, 47, 0.9) ;
    display: inline-block !important;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    transition: top 0.3s !important;
  
}
.container {
    display: block;
    justify-content: center;
    align-items: center;
 
     /* Defina a altura da div container */
}
.rectangular-box {
    display: flex;
    justify-content: center;
    align-items: center;
}


  .navbar-nav .nav-item {
    margin-right: 15px; /* Adiciona espaçamento entre os itens */
  }
  body {
    margin: 10%;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(10, 25, 47);
    color: #8892b0;
    font-family: "Inter", sans-serif;
   
    
    line-height: 1.3;
}



   
/*** estilo do texto do navbar ***/
.nav-texto1{
font-size: 15px !important;
Color: #CCD6f6 !important;
letter-spacing: 0px;
text-decoration: none;
}
.nav-texto1:hover{
font-size: 15px;
Color: #64ffda !important;
letter-spacing: 2px;
text-decoration: none;   
}

/*ESTILO DO TEXO DO BODY*/
.texto1{

font-size: 15px;
Color: #64ffda;
letter-spacing: -1px;
text-decoration: none;
word-spacing: 12px;

}
.texto2{
font-size: 70px !important;
Color: white;
font-weight: 900;
letter-spacing: 0px;
}
.texto3{
  letter-spacing: 0px;
  font-weight: 900;
  color: #8892b0;
}
.texto4{
  font-size: 16px !important;
  Color: #8892b0;
  letter-spacing: -1px;
  text-decoration: none;
  word-spacing: 8px;

}

.nav-botao{
    color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius:  4px;
    padding: auto !important;
    margin: auto !important;
    text-decoration: none;
}



.botao{
    color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius:  4px;
    padding: 1.25rem 1.75rem;
 
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    transition: var(--transition);
    margin-top: 100px;
}

style.css


  
  .text-small {
    font-size: 0.875rem; /* Tamanho pequeno da fonte */
  }
  
  .text-large {
    font-size: 2.5rem; /* Tamanho grande */
    font-weight: bold; /* Deixa o texto mais destacado */
  }
  
  .text-medium {
    font-size: 1.25rem; /* Tamanho médio */
  }
  
  .btn-custom {
    margin-top: 20px; /* Margem superior para o botão */
  }
  
  /************ SUAVIZAÇÃO DO SCROLL E ESTILO*******************/


  ::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background-color: #8892b0; /* Cor do "polegar" da barra de rolagem */
    border-radius: 10px; /* Borda arredondada */
}

::-webkit-scrollbar-track {
    background: #0a192f; /* Cor da trilha da barra de rolagem */
}

/* Para outros navegadores que não usam webkit */
body {
    scrollbar-width: thin;
    scrollbar-color: #CCD6f6 #0a192f;
}

/* Suavização da rolagem */
html {
    scroll-behavior: smooth;
}

.circle-image img{
  width: 300px; 
  height:300px; 
  border-radius: 50%;
  margin-top: 30px;
  margin-right: 120px;
}
