<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">   <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Arquivos Static CSS e JS -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Hello, world!</title>
</head>
<body>
    

       
            <nav class="navbar navbar-expand-lg navbar-light navbar-background fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand nav-texto1" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end container" id="navbarNavDropdown">
                        <ul class="navbar-nav rectangular-box">
                            <li class="nav-item">
                                <a class="nav-link nav-texto1" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-texto1" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-texto1" href="#">Experience</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-texto1" href="#">Contact</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle nav-texto1" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown link
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item texto-nav" href="#">Action</a></li>
                                    <li><a class="dropdown-item texto-nav" href="#">Another action</a></li>
                                    <li><a class="dropdown-item texto-nav" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="btn btn-primary btn-custom  nav-botao">Curriculo</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            {% block body %}
            {% endblock %}
      
    <script>
        let lastScrollTop = 0;
        const navbar = document.querySelector('.navbar');

        window.addEventListener('scroll', function() {
            let scrollTop = window.pageYOffset || document.documentElement.scrollTop;

            if (scrollTop > lastScrollTop) {
                // Scroll down
                navbar.classList.add('navbar-hidden');  // Hide the navbar
            } else {
                // Scroll up
                navbar.classList.remove('navbar-hidden');  // Show the navbar
            }
            lastScrollTop = scrollTop <= 0 ? 0 : scrollTop; // For Mobile or negative scrolling
        });
    </script>
</body>
</html>
