 
 <!DOCTYPE html>
 <html lang="en">
 
 <head>
   <title>Portfolio Web - PV</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
   <!--Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   <script src="https://kit.fontawesome.com/fb34885149.js" crossorigin="anonymous"></script>

 </head>
 
 <body class="bg-light">
 
 <!-- navbar start-->
  <nav class="navbar navbar-light fixed-top bg-light shadow-sm">
    <div class="container-lg">
      <a class="navbar-brand text-danger fw-bold fs-4" href="#">PV</a>
      <div class="dropdown">
        <button class="btn btn-secondary btn-danger px-3" type="button" id="dropdownMenuButton"
          data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-bars"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#home">Home</a></li>
          <li><a class="dropdown-item" href="#about">About</a></li>
          <li><a class="dropdown-item" href="#portfolio">Experience</a></li>
          <li><a class="dropdown-item" href="#contact">Contact</a></li>
        </ul>

      </div>
    </div>
  </nav>
  <!-- navbar end -->
  
  {% block body %}
  {% endblock %}
 
  <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
  
</body>

</html>